NAPCAT_WS_URL="ws://127.0.0.1:3000"
NAPCAT_TOKEN="your_token"
PG_URL="postgresql://user:password@localhost:5432/database"
OPENAI_URL="url"
OPENAI_KEY="your_openai_api_key"
MODEL="model"
LITE_OPENAI_URL="url"
LITE_OPENAI_KEY="your_openai_api_key"
LITE_MODEL="model"
EMBEDDING_OPENAI_URL="http://localhost:11434/v1"
EMBEDDING_OPENAI_KEY="your_openai_api_key"
EMBEDDING_MODEL="nomic-embed-text"
IMAGE_OPENAI_URL="url"
IMAGE_OPENAI_KEY="your_openai_api_key"
IMAGE_MODEL="model"
SUPPORT_IMAGE=true
SUPPORT_AUDIO=true